h1, p, ul, h2, h3, select, #output{
	font-family: 'Open Sans', "Helvetica Neue", serif;
}

p {
    font-size: 16px;
}

#ciphertext {
  font-family: 'Courier New';
  font-size: 15px;
}

.key {
  position: relative;
  bottom: 50px;
  font-family: 'Courier New';
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
}

#toolbox {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  padding: 10px 10px;
  margin-top: -10px;
}

#inputbox {
  position: relative;
  display: block;
  margin: auto;
  float: left;
  width: 300px;
  height: 200px;
}

#outputbox {
  display:inline-block;
  vertical-align:top;
  width: 80px;
  height: 80px;
  background-color: #DFDFDF;
  margin: 2px;
}

#ditdash {
  display:inline-block;
  vertical-align:top;
  width: 140px;
  height: 40px;
  background-color: #DFDFDF;
  margin: 2px;
}

#wrapper {
  margin: auto;
  width: 500px;
  height: 200px;
}

#wrapper2 {
  text-align:center;
  float: right;
  margin: auto;
  width: 200px;
  height: 200px;
}

.row {
  width: 120px;
  margin: auto;
  display: block;
}

.cell {
  float: right;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #CFCFCF;
  border: 2px;
  margin: 5px;
}

.blip {
  position: relative;
  bottom: -45px;
  float: right;
  width: 50px;
  height: 50px;
  background: #DFDFDF;
  border: 2px;
  margin: 5px;
}

#space {
  width: 110px;
  height: 40px;
}

#space_blip {
  font-size: 20px;
  font-family: 'Open Sans', "Helvetica Neue", serif;
  bottom: 40px;
}

#dits {
  position: relative;
  bottom: 25px;
  font-family: 'Courier New';
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

h1 {
  text-align: center;
}

.circle {
    position:absolute;
    width:7%;padding-bottom:40%;
    margin-left:47.5%;
    pointer-events:none;
}
.circle div {
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    -webkit-transform : rotate(45deg);
    -ms-transform : rotate(45deg);
    transform : rotate(45deg);
    pointer-events:none;
}
.circle:before, .circle div:before  {
    content:'';
    position:absolute;
    top:0; left:0;
    width:100%; padding-bottom:100%;
    background:#CFCFCF;
    pointer-events:auto;
}

.gircle div:before, .gircle:before {
    background:#000000;
}

.pircle div:before, .pircle:before {
    background:#CFCFCF;
}